@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



html{
    scroll-behavior: smooth;
}

body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .row-cols-md-1 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .row-cols-md-2 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .row-cols-md-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .row-cols-md-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .row-cols-md-5 > * {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row-cols-md-6 > * {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-md-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .order-md-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .order-md-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .order-md-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .order-md-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .order-md-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .order-md-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .order-md-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .order-md-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .order-md-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .order-md-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .order-md-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .order-md-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .order-md-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .order-md-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .offset-md-0 {
      margin-left: 0;
    }
    .offset-md-1 {
      margin-left: 8.333333%;
    }
    .offset-md-2 {
      margin-left: 16.666667%;
    }
    .offset-md-3 {
      margin-left: 25%;
    }
    .offset-md-4 {
      margin-left: 33.333333%;
    }
    .offset-md-5 {
      margin-left: 41.666667%;
    }
    .offset-md-6 {
      margin-left: 50%;
    }
    .offset-md-7 {
      margin-left: 58.333333%;
    }
    .offset-md-8 {
      margin-left: 66.666667%;
    }
    .offset-md-9 {
      margin-left: 75%;
    }
    .offset-md-10 {
      margin-left: 83.333333%;
    }
    .offset-md-11 {
      margin-left: 91.666667%;
    }
  }

  .col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .row-cols-md-1 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .row-cols-md-2 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .row-cols-md-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .row-cols-md-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .row-cols-md-5 > * {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row-cols-md-6 > * {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-md-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .order-md-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .order-md-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .order-md-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .order-md-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .order-md-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .order-md-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .order-md-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .order-md-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .order-md-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .order-md-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .order-md-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .order-md-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .order-md-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .order-md-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .offset-md-0 {
      margin-left: 0;
    }
    .offset-md-1 {
      margin-left: 8.333333%;
    }
    .offset-md-2 {
      margin-left: 16.666667%;
    }
    .offset-md-3 {
      margin-left: 25%;
    }
    .offset-md-4 {
      margin-left: 33.333333%;
    }
    .offset-md-5 {
      margin-left: 41.666667%;
    }
    .offset-md-6 {
      margin-left: 50%;
    }
    .offset-md-7 {
      margin-left: 58.333333%;
    }
    .offset-md-8 {
      margin-left: 66.666667%;
    }
    .offset-md-9 {
      margin-left: 75%;
    }
    .offset-md-10 {
      margin-left: 83.333333%;
    }
    .offset-md-11 {
      margin-left: 91.666667%;
    }
  }

h1,h2,h3,h4,h5,h6{
    font-family: "Ubuntu", sans-serif;
}
.mb-2{
    margin-bottom: 60px;
}
.text-center{
    text-align: center;
}

.outer-nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)), url("../img/palais_bourse.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.nav-content{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.navv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navv a:hover{
    color: lightblue;
}
.nav-item{
    padding-bottom: 3px;
    border-bottom: 3px solid #011529;
    transition: 0.3s;
}
.nav-item:hover{
    padding-bottom: 3px;
    border-bottom: 3px solid white;
    transition: 0.3s;
}

.right-nav{
    flex: 0.5;
    text-align: right;
    padding-right: 30px;
}

.logo-img{
    object-fit: contain;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #010320;
    padding: 7px;
    border: 3px solid red;
    /* color: white; */
}

.right-nav .logo{
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
}

.left-nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.left-nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.mainn-title-container{
    text-transform: capitalize;
    font-size: 1.9rem;
    color: white;
    max-width: 700px;
    float: right;
    position: absolute;
    top: 30px;
    right: 40px;
    margin-left: 20px;
}

.mainn-title-container button{
    background-color: #010320;
    color: white;
    border: 1px solid red;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    
}

@keyframes arrowDown {
    0%,
    100%{
        bottom: 50px;
    }

    50%{
        bottom: 70px;
    }
}

.arrow-down-navigation{
    animation: arrowDown 2.5s ease-in-out infinite;
    color: white;
    font-size: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

}

.arrow-down-navigation:hover{
    color: rgb(212, 144, 212);
}

.marquee{
    display: flex;
    gap: 1rem;
    overflow: hidden;
    background-color: #010320;
    padding: 1.4rem 1rem;
    color: white;
    border-bottom: 2px solid black;

}
.marquee-items{
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    gap: 1rem;
    min-width: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    animation: marqueeAnimation 20s linear infinite;
}

@keyframes marqueeAnimation {
    from {
        translate: 0 0;
    }
    to{
        translate: calc(-100% - 1rem) 0;
    }
}

.info-row{
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.info-row .img-container{
    width: 50%;
    height: 60vh;
}

.info-row .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-row .text-container{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info-row .text-container h2{
    font-size: 40px;
    letter-spacing: 2px;
    border-bottom: 5px solid #010320;
    transition: 0.3s;
}
.info-row .text-container h2:hover{
    color: purple;
    font-size: 40px;
    letter-spacing: 0px;
    border-bottom: 5px solid black;
    transition: 0.3s;
}
.info-row .text-container p{
    font-size: 25px;
    line-height: 1.7rem;
    letter-spacing: 2px;
}

.mission{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("../img/bannerII.jpg");
    background-position: fixed;
    background-position: center 10px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    min-height: 500px;
    justify-content: center;
}

.mission h2{
    font-size: 3rem;
    border-bottom: 5px solid white;
}
.mission p{
    font-size: 1.6rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 2.2rem;
}

.mission a{
    font-size: 1.5rem;
    text-align: center;
}

.mission button{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    color: purple;
    font-size: 1.6rem;
    font-weight: 200;
}

/* about-us page */
.about-us-nav{
    background-color: rgb(87, 174, 236);
}
.about-us-nav .logo-img{
    background-color: rgb(172, 116, 172);
}
.cards-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-heading h1{
    border-bottom: 5px solid grey;
    font-size: 2.7rem;
}

.about-heading p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
}

.cards-container{
    margin-top: 35px;
    border-radius: 15px;
    /* background: linear-gradient(90deg, rgba(171,140,194,1) 0%, rgba(98,54,130,1) 32%, rgba(188,118,230,1) 84%); */
}

.card{
    width: 250px;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 18px;
}
.card a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


/* project-details section */
.row{
    padding: 50px 0;
}
.seperator{
    margin-bottom: 30px;
    width: 85px;
    height: 5px;
    background: #011529;
    border: none;
}

.project-details{
    text-align: center;
}
.project-details.row{
    padding: 50px 0;
}
.project-details h1{
    text-transform: uppercase;
}
.project-details .seperator{
    margin: 0 auto;
}
.item {
    position: relative;
    margin-bottom: 30px;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .item .item-in {
    background: #fff;
    padding: 40px;
    position: relative;
  }
  
  .item .item-in:hover::before {
    width: 100%;
  }
  
  .item .item-in::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background: #011529;
    right: 0px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }

  .item h4 {
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .item p {
    font-size: 1rem;
  }
  
  .item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #011529;
    margin-top: 10px;
  }
  
  .item a i {
    opacity: 0;
    padding-left: 0px;
    transition: 0.4s;
    font-size: 24px;
    display: inline-block;
    top: 5px;
    position: relative;
  }
  
  .item a:hover {
    text-decoration: none;
  }
  
  .item a:hover i {
    padding-left: 10px;
    opacity: 1;
    font-weight: 300;
  }


  /* footer */
  .footer-59391 {
    border-top: 1px solid #efefef;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 4rem 0;
  }
  
  .footer-59391 .site-logo {
    color: #fff;
  }
  
  .footer-59391 .site-logo a {
    font-size: 30px;
    color: #000;
    font-weight: 900;
  }
  
  .footer-59391 .social-icons li {
    display: inline-block;
  }
  
  .footer-59391 .social-icons li a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .footer-59391 .social-icons li a.dr {
    background: #ff2e6e;
  }
  
  .footer-59391 .social-icons li a.be {
    background: #394cff;
  }
  
  .footer-59391 .social-icons li a.tw {
    background: #00a0fb;
  }
  
  .footer-59391 .social-icons li a.in {
    background: #c31574;
  }
  
  .footer-59391 .social-icons li a.fb {
    background: #3b579b;
  }
  
  .footer-59391 .social-icons li a.yt {
    background: #fa2614;
  }
  
  .footer-59391 .social-icons li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .footer-59391 .nav-links li {
    display: inline-block;
  }
  
  .footer-59391 .nav-links li a {
    font-size: 14px;
    color: #777;
    padding: 10px;
  }
  
  @media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-left li:first-child a {
      padding-left: 0;
    }
  }
  
  .footer-59391 .nav-links.nav-right li:last-child a {
    padding-right: 0;
  }
  
  @media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-right li:first-child a {
      padding-left: 0;
    }
  }
  
  .footer-59391 .copyright {
    border-top: 1px solid #efefef;
    padding-top: 50px;
    text-align: center;
    color: #777;
  }
  
  

/* mobile nav */
.mobile-nav{
    display: none;
}

.mobile-nav i{
    position: fixed;
    top: 20px;
    right: 20px;
    color: blue;
    z-index: 99;
    font-size: 20px;
}

.mobile-nav li{
    list-style: none;
}

.mobile-nav ul{
    position: fixed;
    left: -400px;
    transition: left 0.3s linear;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

.mobile-nav ul li{
    margin-top: 30px;
}

.mobile-nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.mobile-nav ul.show{
    left: 0;
    top: 0;
}

.about-us-mobile-nav i{
    color: black;
}
.about-us-mobile-nav ul.show{
    color: blue;
}

@media screen and (max-width: 400px) {
    .nav{
        display: none;
    }
    h1{
        font-size: 2.2rem;
        margin-top: 5rem;
    }
    .mobile-nav{
        display: block;
    }
    .outer-nav{
        padding-top: 0;
    }

    .mission{
        padding: 30px;
    }

    .info-row .text-container{
        padding: 10px;
    }
}

@media screen and (max-width: 700px){
    .info-row .text-container,
    .info-row .img-container{
        width: 100%;
    }
    .info-row:nth-of-type(2){
        flex-wrap: wrap;
    }

}