@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



html{
    scroll-behavior: smooth;
}

body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Ubuntu", sans-serif;
}
.mb-2{
    margin-bottom: 60px;
}
.text-center{
    text-align: center;
}

.outer-nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)), url("../img/palais_bourse.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.nav-content{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a:hover{
    color: lightblue;
}
.nav-item{
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(87, 174, 236);
    transition: 0.3s;
}
.nav-item:hover{
    padding-bottom: 3px;
    border-bottom: 3px solid white;
    transition: 0.3s;
}

.right-nav{
    flex: 0.5;
    text-align: right;
    padding-right: 30px;
}

.logo-img{
    object-fit: contain;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(87, 174, 236);
    padding: 7px;
    border: 3px solid white;
    /* color: white; */
}

.right-nav .logo{
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
}

.left-nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.left-nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.main-title-container{
    text-transform: capitalize;
    font-size: 1.8rem;
    color: white;
    max-width: 700px;
    float: right;
    position: absolute;
    top: 30px;
    right: 40px;
    margin-left: 20px;
}

.main-title-container button{
    background-color: rgb(87, 174, 236);
    color: white;
    border: 1px solid white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    
}

@keyframes arrowDown {
    0%,
    100%{
        bottom: 50px;
    }

    50%{
        bottom: 70px;
    }
}

.arrow-down-navigation{
    animation: arrowDown 2.5s ease-in-out infinite;
    color: white;
    font-size: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

}

.arrow-down-navigation:hover{
    color: rgb(212, 144, 212);
}

.marquee{
    display: flex;
    gap: 1rem;
    overflow: hidden;
    background-color: rgb(87, 174, 236);
    padding: 1.4rem 1rem;
    color: white;
    border-bottom: 2px solid black;

}
.marquee-items{
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    gap: 1rem;
    min-width: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    animation: marqueeAnimation 20s linear infinite;
}

@keyframes marqueeAnimation {
    from {
        translate: 0 0;
    }
    to{
        translate: calc(-100% - 1rem) 0;
    }
}

.info-row{
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.info-row .img-container{
    width: 50%;
    height: 60vh;
}

.info-row .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-row .text-container{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info-row .text-container h2{
    font-size: 40px;
    letter-spacing: 2px;
    border-bottom: 5px solid rgb(87, 174, 236);
    transition: 0.3s;
}
.info-row .text-container h2:hover{
    color: purple;
    font-size: 40px;
    letter-spacing: 0px;
    border-bottom: 5px solid black;
    transition: 0.3s;
}
.info-row .text-container p{
    font-size: 25px;
    line-height: 1.7rem;
    letter-spacing: 2px;
}

.mission{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("../img/bannerII.jpg");
    background-position: fixed;
    background-position: center 10px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    min-height: 500px;
    justify-content: center;
}

.mission h2{
    font-size: 3rem;
    border-bottom: 5px solid white;
}
.mission p{
    font-size: 1.6rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 2.2rem;
}

.mission a{
    font-size: 1.5rem;
    text-align: center;
}

.mission button{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    color: purple;
    font-size: 1.6rem;
    font-weight: 200;
}

/* about-us page */
.about-us-nav{
    background-color: rgb(87, 174, 236);
}
.about-us-nav .logo-img{
    background-color: rgb(172, 116, 172);
}
.cards-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-heading h1{
    border-bottom: 5px solid grey;
    font-size: 2.7rem;
}

.about-heading p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
}

.cards-container{
    margin-top: 35px;
    border-radius: 15px;
    /* background: linear-gradient(90deg, rgba(171,140,194,1) 0%, rgba(98,54,130,1) 32%, rgba(188,118,230,1) 84%); */
}

.card{
    width: 250px;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 18px;
}
.card a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}



/* mobile nav */
.mobile-nav{
    display: none;
}

.mobile-nav i{
    position: fixed;
    top: 20px;
    right: 20px;
    color: blue;
    z-index: 99;
    font-size: 20px;
}

.mobile-nav li{
    list-style: none;
}

.mobile-nav ul{
    position: fixed;
    left: -400px;
    transition: left 0.3s linear;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

.mobile-nav ul li{
    margin-top: 30px;
}

.mobile-nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.mobile-nav ul.show{
    left: 0;
    top: 0;
}

.about-us-mobile-nav i{
    color: black;
}
.about-us-mobile-nav ul.show{
    color: blue;
}

@media screen and (max-width: 400px) {
    .nav{
        display: none;
    }
    h1{
        font-size: 2.2rem;
        margin-top: 5rem;
    }
    .mobile-nav{
        display: block;
    }
    .outer-nav{
        padding-top: 0;
    }

    .mission{
        padding: 30px;
    }

    .info-row .text-container{
        padding: 10px;
    }
}

@media screen and (max-width: 700px){
    .info-row .text-container,
    .info-row .img-container{
        width: 100%;
    }
    .info-row:nth-of-type(2){
        flex-wrap: wrap;
    }

}